<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.test.email.mapping.PaperHistoryMapper">

	<!-- 添加试卷历史 -->
	<insert id="savePaper" parameterType="cn.test.email.model.TPaperHistory">
		INSERT INTO t_paper_history (phid,uid,pid,totalscore,detailscore,grading,created) 
		VALUES (#{phid},#{uid},#{pid},#{totalscore},#{detailscore},#{grading},#{created})
	</insert>


</mapper>